# Web framework
fastapi>=0.111.0  # 最新版は pydantic v2 に対応
uvicorn

# LangChain core & components & langgraph
langchain>=0.3.25
langchain-community>=0.0.27
langchain-ollama>=0.1.0
langchain-experimental>=0.0.10
langgraph

# LLMs
openai>=1.1.1
transformers
torch
accelerate

# その他ユーティリティ
# pydantic は FastAPI に合わせて不要（自動で入る）
# asyncio は標準ライブラリなので除外
thefuzz
python-Levenshtein

# 地理系ツール
geopandas
networkx

# celeryとredisクライアント
pika
celery
redis

# ベクトルDB
chromadb

psycopg2-binary